@model MVCPrototipo.Models.Precio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Precio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Promocion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Promocion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso.CursoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PrecioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
