@model IEnumerable<MVCPrototipo.Models.Precio>

@{
    ViewData["Title"] = "Index";
}

<h1>Precio de los Cursos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrecioActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promocion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promocion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.CursoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrecioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrecioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrecioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
